{% extends 'base.html' %}

{% block title %}Top Investors{% endblock %}


{% block body %}

<div class="mx-auto w-8/12  py-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <h2 class="max-w-lg mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none md:mb-6 group">
        <span class="inline-block mb-1 sm:mb-4">
        Top investors  <br class="hidden md:block" /> of current month
      </span>
        <div class="h-1 ml-auto duration-300 origin-left transform bg-deep-purple-accent-400 scale-x-30 group-hover:scale-x-100"></div>
    </h2>
    <p class="text-gray-700 lg:text-sm lg:max-w-md">
      "Top 10 Investors of this month. To be in this list invest, help others to realize their dreams. Don't be afraid to take a risk. Maybe you are the one who is going to held this lost next month."
    </p>
  </div>

  <div class="mb-10 w-full flex flex-wrap justify-center">
    {% for investor in investors %}
    <div class="w-4/12 px-1 mt-14">
      <div class="w-full">
      <div class="max-w-sm rounded-sm border border-gray-200 bg-white shadow-lg">
        <div class="flex items-center relative mb-10 justify-center">
          <div class="rounded-full bg-indigo-400 z-30 p-2 inline-block absolute mx-8">
            <p class="text-white text-center text-4xl font-bold px-2">{{investor.id}}</p>
          </div>
        </div>
        <div class="px-8 pb-4">
          <h4 class="text-gray-500 text-xl font-light text-center">{{ investor.username }}</h4>
          <h2 class="text-indigo-600 text-2xl font-bold text-center">{{ investor.first_name }}  {{ investor.last_name }}</h2>
          <p class="text-gray-600 text-base mt-5 text-center">
            <span class="text-indigo-600 font-bold">{{ investor.investings }}</span>
            investment per month
          </p>
          <p class="text-gray-600 text-sm text-center">
            With us since <span class="text-indigo-600">{{ investor.date }}</span>
          </p>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}

  </div>
</div>


{% endblock %}